[submodule "usb_driver"]
	path = usb_driver
	url = https://github.com/Hatemsla/usb_driver.git
[submodule "test_ffi_plugin/plugins/rtk_mavlink"]
	path = test_ffi_plugin/plugins/rtk_mavlink
	url = https://github.com/Hatemsla/rkt_mavlink.git
