[Desktop Entry]
Type=Application
Name=test_mavlink_example
Comment=Demonstrates how to use the test_mavlink plugin.
Icon=com.example.test_mavlink_example
Exec=/usr/bin/com.example.test_mavlink_example
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=test_mavlink_example
